.createForm {
  form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    padding: 25px;
    border: solid 1px #ccc;
    border-radius: 10px;
    margin: 0 25px 25px 25px;

    fieldset {
      background-color: #282A3A;
      border-radius: 10px;
      padding-bottom: 25px;
    }

    .leftForm,
    fieldset {
      display: flex;
      flex-direction: column;
      gap: 25px;
    }
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
}

/* Media Queries */
@media (min-width: 300px) and (max-width: 450px) {
  .createForm {
    form {
      border: none;
      padding: 0px;
    }
  }
}

@media (min-width: 600px) {
  .createForm form {
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
  }

  .leftForm,
  fieldset {
    flex: 1;
  }
}

@media (min-width: 800px) {
  .createForm form {
    min-width: 650px;
  }
}
