.inputField{
    position: relative;
    .error {
        position: absolute;
        color: #646cff;
        font-size: 12px;
        width: 100%;
        bottom: -20px;
        left: 0%;
    }
    label{
        display: block;
    }
    input{
        min-width: 97.5%;
    }
}