.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282A3A;

    padding: 0 25px;

    h1{
        font-size: 2rem;
        span{
            font-size: medium;
        }
    }
}