.optionSelector{
    position: relative;
    .error {
        position: absolute;
        color: red;
        font-size: 12px;
        width: 100%;
        bottom: -20px;
        left: 0%;
    }
    label{
        display: block;
    }
    select{
        min-width: 100%;
    }
}